<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box-two {
        background-color: red;
        height: 200px;
        width: 200px;
      }
      .box-three {
        background-color: blue;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form />

      <input @keyup.enter="greet(greeting + '!!!!!!?')" v-model="greeting" />

      <hr />

      <hr />
      <button @click.prevent.stop="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox: function () {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            //if you remove this.greeting, then you can append from above
            console.log(greeting);
          },
        },
      });
      app.component("login-form", {
      app.component('custom-input', {
        template:
        <label>
            {{ label }}
            <input type = "text"/>
        </label>
      })
        template: `
             <form @submit.prevent = "handleSubmit">
            <h1> {{ title }}</h1>
            <input type = "email" v-model ="email"/>
            <input type = "password" v-model = "password"/>
            <button>Login </button>
           </form>
            `,

        data() {
          return {
            title: "Login Form",
            email: "",
            password: "",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
